.inbox{
    background-color:grey;
    height: 300px;
    margin-top: 15px;
}
.sec1{
    background-color: skyblue;
}
.sec2{
    background-image: url(download.jfif);
}
.sec3{
    background-color: skyblue;
}